.menu-content {
    padding: 0 0 0 50px;
    font-size: 18px;
}

.collapsible-menu {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 0px 30px;
    border-bottom: 3px solid #cccccc;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}
.collapsible-menu label {
    font-size: 60px;
    display: block;
    cursor: pointer;
    background: url(../images/menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}

input#menu {
    display: none;
}
.menu-content {
    max-height: 0;
    /**overflow: hidden;**/
    padding: 0 0 0 50px;
}

/* Toggle Effect */

input:checked ~ label {
    background-image: url(../images/close.png);
}

input:checked ~ .menu-content {
    max-height: 100%;
}

/*Icons made by https://www.flaticon.com/authors/cole-bemis from www.flaticon.com/ */

/**Code for Rest of the Web Page Beyond This Point**/
body {
    background-color: #fff9f8;
}
.wrapper {
    text-align: center;
    font-size: 16px;
}

/*For Gallery*/
/* Prevents slides from flashing */